.venv/
external
**/build/
*.pyc
.idea
modules/*west
**/credentials.conf
**/cmake-build-debug/*
**/sdkconfig
**/sdkconfig.old
**/.vscode/*
**/dependencies.lock
esp_idf/spotflow/.vscode/
**/managed_components/*
