.venv/
external
**/build*/
*.pyc
.idea
modules/*west
**/credentials.conf
**/cmake-build-debug/*
**/sdkconfig
**/sdkconfig.old
esp_idf/spotflow/examples/logs/managed_components/*
**/.vscode/*
**/dependencies.lock
esp_idf/spotflow/.vscode/
**/managed_components/*
