name: Build ESP-IDF Project

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.1
          target: esp32s3
          path: 'esp_idf/spotflow/examples/logs/'

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ github.run_number }}
          path: |
            esp_idf/spotflow/examples/logs/build/
